html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 400px;
  /* padding: 20px; */
}

#root{
  font-family: Roboto;
  margin: 0 auto;
  border: 1px gray solid;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(246, 250, 252);
}
